<div class = "about">


<h1>About Us</h1>

<img src = "https://www.wmschurchofgod.org/wmschurchofgodorg/wp-content/uploads/2016/01/World-Mission-Society-Church-of-God-Worldwide-Environmental-Cleanup-for-Passover-2015-IMG_0937-1024x680.jpg">
<h2>We are <em>AMERICA’S PLANETEERS</em>.</h2>

<p>Let’s say it up front: our name is no accident.  We want to honor the spirit of the original Planeteers, who have graced our screens for decades, by fostering a new generation of environmentalists.</p>

<p>Although our country has seen many improvements in the quality of life and awareness of the need to protect our environment, we still have a lot of work to do.</p>

<p>For an egregious example, littering remains a public health problem.  No matter what fines or penalties may exist, or how they are enforced, people will still litter.    We believe that the best way to curb this behavior is to respond to each case of littering as swiftly as possible, whether by reporting it or by cleaning it up.  The goal of <em>AMERICA’S PLANETEERS</em> is to provide a system whereby citizens from all walks of life can contribute to the effort to keep our communities clean.</p>

<P>Here, users can report problems in their communities - from an overflowing garbage can to a post-concert field teeming with bottles and other debris.  They can provide pictures, descriptions, locations - all the details they need to tell the story.  We will send a member of our <em>PLANETEERS</em> group - a service group akin to the Peace Corps or Teach for America, but with an environmental focus. </p>

<p> Planeteers come from different backgrounds.  They are students looking to meaningfully fill his time between terms.  They are college graduates who are looking to get a head start in life.  They are working- and middle-class professionals who have struggled through the financial crisis.  They are hard workers who were recently homeless or indigent — and yet they felt the need to contribute.   Whatever the story, they all share the belief that they are part of something much, much larger than themselves.  They recognize the need, as Pope Francis has said, to take care of our common home.  And they are more than willing to do their part and help others do theirs.</p>

<p>Our effort is, finally, rooted in a desire to honor the dignity that every member of our group - brings to the effort.  Dignity that comes from simply walking the very earth that they clean up and maintain.</p>

</div>