<h1>COMING SOON...</h1>

<br>

<%=image_tag("map.png")%>

<h3 style="font-size:20px; text-align:left;">A map where you can see all the tasks that have been reported.  If you see an issue you want to report, you can second it.  If not, you can contribute it! </h3>

<h3 style="font-size:20px; text-align:left;">Give us the location and a photo, and we'll be there to handle it.</h3>