// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2{
  font-family: 'Roboto', bold, sans-serif;
  font-size: 40px;
  text-align: center;
}

em {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: left;
  line-height:25px;
}